# ignore godot inner files

# texture files
*.res
*.tres

# level layout file
*.tscn

# img files
*.jpg
*.png
*.import

*.json

# ignore theese folders
.import/
Vladimir/animations/
Level/tileset_test/
Fonts/
Enemy/sprites/