# ignore godot inner files
project.godot
*.exe
*.pck
*.cfg

# texture files
*.res
*.tres

# level layout file
*.tscn

# img files
*.jpg
*.png
*.import
*.ico

*.json

# video and music
*.ogv
*.wav

# ignore theese folders
.import/
Vladimir/animations/
Level/tileset_test/
Fonts/
Enemy/sprites/