# ignore godot inner files
project.godot
*.exe
*.pck
*.cfg
IG.gd
IG.tscn

# texture files
*.res
*.tres

# level layout file
*.tscn

# img files
*.jpg
*.png
*.import

*.json

# ignore theese folders
.import/
Vladimir/animations/
Level/tileset_test/
Fonts/
Enemy/sprites/